@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Space+Grotesk:wght@300;400&display=swap");

:root {
  --primary-color: #508991;
  --text-color: white;
  --button-hover: black;
  --light-bg-color:#FCFCFC;
  --dark-bg-color:#000000;
  --navbar-bg-light:#939430;
  --navbar-bg-dark:#D2F898;
  --forked:#ffd166;
  --private:#ef476f;
  --public:#06d6a0;
  --main-btn:#E4F964;
  --pagnation-btn-active:#F6F930;
}
/* General styles */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Space Grotesk", "sans-serif";
}
.repository-container{
  margin: 20px;
  background-color: #FCFCFC;
}
.main-page-holder{
  background-color: #ef476f;
  display:flex;
  flex-direction: column;
}
.profile-wrap{
  background-color: #FCFCFC;
  margin: 20px;
}
.profile-summary{
  display: flex;
  justify-content: space-between;
}
.individual-cards{
  display: flex;
  background-color: #508991;
  margin: 20px;
  padding: 60px;
}
.view-card{
  background-color: #ffd166;
  display: flex;
  gap: 2rem;
  margin: 10px;
}
#forked{
  background-color: #ef4;
}
#not-forked{
  background-color: #F6F930;
}
#private{
  background-color: #508991;
}
#public{
  background-color: #939430;
}
.pagnationButtons{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.pagnationButtons a{
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border:  1px solid var(--nav-txt-color);
  cursor: pointer;
}
.pagnationButtons a:hover{
  cursor: pointer;
  background-color: var(--home-bg-color);
  color: white;
  border: 1px solid var(--header-bg-color);
}
.pagnationactive a{
  color: white;
  background-color: var(--home-bg-color);
}

/* 404 page */
.error-page{
  justify-content:center;
  background-color: var(--dark-bg-color);
  height: 100vh;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}
.error-page h2{
  font-size: 100px;
  padding: 20px;
}
.error-page p{
  font-size: 50px;
}
.error-img{
  margin:90px;
  width: 80px;
  height: 80px;
}
.error-button{
  color: var(--light-bg-color);
  text-decoration: underline;
  margin: 60px;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  font-weight: bold;
}



/* Navbar */
.header {
  background-color: var(--nav-bg-color);
  justify-content: space-between;
  /* height: 50px; */
  display: flex;
  width: 100vw;
}

/* Homepage-Landing-page */
.home-nav{
  background-color: var(--navbar-bg-light);
  height: 50px;
  width: 100vw;
}
.home-nav h2{
  padding-left: 4px;
  font-size: 20px;
}
.container-homepage {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
}
.home-page {
  justify-content: center;
  padding-top: 200px;
  text-align: center;
  color: var(--text-color);
}

.text-home {
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 60px;
  padding: 30px;
}
.sub-txt{
  margin: 100px;
}
.loading-state{
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  color: var(--main-btn);
  align-items: center;
  font-weight: 900;
  margin: 200px; 
}
.loader{
  justify-content:center;
}


.btn {
  width: 150px;
  text-decoration: none;
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 400px;
  background-color: var(--private);
  border: none;
}

.btn{
  cursor: pointer;
}

/* User repository main page */
.all-repos{
  background-color: var(--navbar-bg-dark);

}

/* Small screens */
@media only screen and (max-width: 400px){
  .home-page{
    padding-top: 100px;
  }
  .text-home{
    font-size: 20px;
    padding-bottom: 30px;
  }
  .home-page p{
    font-size: 10px;
  }
  .error-img{
    margin: 40px;
    width: 80px;
    height: 80px;
  }
  .error-page h2{
    font-size: 50px;
    padding: 20px;
  }
  .error-page p{
    font-size: 20px;
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .error-img{
    margin: 40px;
    width: 80px;
    height: 80px;
  }
  .error-page h2{
    font-size: 50px;
    padding: 20px;
  }
  .error-page p{
    font-size: 20px;
    margin: 10px;
  }
  .header {
    width: 100vw;
    align-items: stretch;
  }
  .image-icon {
    height: 20px;
    width: 20px;
  }
  .logo {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
}
